@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --font-display: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

.drop-zone-pattern {
  background-image: radial-gradient(circle at 2px 2px, oklch(from #135bec l c h / 0.125) 1px, transparent 0);
  background-size: 24px 24px;
}